---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
import Badge from '../components/Badge.astro'
import GithubIcon from '../components/icons/Github.astro'
import LinkedInIcon from '../components/icons/LinkedIn.astro'
import SocialPill from '../components/SocialPill.astro'
import MailIcon from '../components/icons/Mail.astro'
import Experience, { type ExperienciesProps } from '../components/Experience.astro'
import SectionContainer from '../components/SectionContainer.astro'
import BriefcaseIcon from '../components/icons/Briefcase.astro'
import jsonSocial from '../data/social.json'
import Projects, { type ProjectProps, type Tag } from '../components/Projects.astro'
import CodeIcon from '../components/icons/Code.astro'
import { t, changeLanguage } from 'i18next'
import jsonTranslations from '../../public/locales/es/translation.json'
import { type ExperiencieItemProps } from '../components/ExperienceItem.astro'
import Angular from '../components/icons/Angular.astro'
import Scss from '../components/icons/Scss.astro'

changeLanguage('es')

const badge = {
	text: t('BADGE.CONTACT'),
	href: 'https://www.linkedin.com/in/jose-vilches-sanchez/'
}
const descriptionCollection = jsonTranslations.WELCOME.DESCRIPTION
const experiencesCollection = jsonTranslations.EXPERIENCES.ITEMS
const description = descriptionCollection.map((key, index) => t('WELCOME.DESCRIPTION.' + index))
const social = jsonSocial
const experiencies = experiencesCollection.map((key, index) => {
	const experiencie: ExperiencieItemProps = {
		title: t(`EXPERIENCES.ITEMS.${index}.TITLE`),
		description: t(`EXPERIENCES.ITEMS.${index}.DESCRIPTION`),
		date: t(`EXPERIENCES.ITEMS.${index}.DATE`)
	}
	if (key.LINK) {
		experiencie.link = key.LINK
	}
	return experiencie
})
const experienciesProps: ExperienciesProps = {
	experiencies: experiencies
}
const TAGS: Record<string, Tag> = {
	ANGULAR: {
		name: 'Angular',
		class: 'bg-black text-white',
		icon: Angular
	},
	SCSS: {
		name: 'SCSS',
		class: 'bg-[#003159] text-white',
		icon: Scss
	}
}
const PROJECTS = [
	{
		title: t('PROJECTS.ITEMS.0.TITLE'),
		description: t('PROJECTS.ITEMS.0.DESCRIPTION'),
		image: 'https://via.placeholder.com/300x200?text=incoming',
		tags: [TAGS.ANGULAR, TAGS.SCSS]
	}
]
const projectsProps: ProjectProps = {
	projects: PROJECTS
}
---

<Layout title={t('METADATA.TITLE')} description={t('METADATA.DESCRIPTION')}>
	<main class="px-4">
		<SectionContainer class="py-44 pb-32">
			<img class="mb-4 size-12 rounded-full" src="/public/xoje-photo.jpg" alt="xojedev photo" />
			<h1
				class="flex flex-row gap-x-4 pb-6 text-3xl font-bold text-gray-900 md:text-4xl lg:pb-10 lg:text-5xl dark:text-white"
			>
				{t('WELCOME.TITLE')}
				<a
					href={badge.href}
					target="_blank"
					rel="noopener"
					class="flex items-center justify-center"
				>
					<Badge>{badge.text}</Badge>
				</a>
			</h1>
			<h2 class="max-w-[700px] text-balance text-xl text-black lg:text-2xl dark:text-white">
				<span> {description[0]}</span>
				<span class="text-yellow-800 dark:text-yellow-200"> {description[1]}</span>
				<span class="text-red-800 dark:text-red-200">{description[2]}</span>
				<span class="text-sky-800 dark:text-sky-200"> {description[3]}</span>
			</h2>
			<nav class="mt-8 flex flex-wrap gap-4">
				<SocialPill href={social.github.href}>
					<GithubIcon class="size-4 md:size-6" />
					{social.github.text}
				</SocialPill>
				<SocialPill href={social.linkedin.href}>
					<LinkedInIcon class="size-4 md:size-6" />
					{social.linkedin.text}
				</SocialPill>
				<SocialPill href={social.linkedin.href}>
					<MailIcon class="size-4 md:size-6" />
					{social.email.text}
				</SocialPill>
			</nav>
		</SectionContainer>
		<SectionContainer id="experience">
			<h2
				class="mb-6 flex items-center gap-x-3 text-3xl font-semibold text-black/80 dark:text-white/80"
			>
				<BriefcaseIcon class="size-7" />
				{t('EXPERIENCES.TITLE')}
			</h2>
			<Experience {...experienciesProps} />
		</SectionContainer>
		<SectionContainer id="projects">
			<h2
				class="mb-6 flex items-center gap-x-3 text-3xl font-semibold text-black/80 dark:text-white/80"
			>
				<CodeIcon class="size-7" />
				{t('PROJECTS.TITLE')}
			</h2>
			<Projects {...projectsProps} />
		</SectionContainer>
	</main>
</Layout>
