---
import '@fontsource-variable/onest'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import i18next from 'i18next'
import { HeadHrefLangs } from 'astro-i18next/components'
interface Props {
	title: string
	description: string
}

const { title, description } = Astro.props

//const metaRefresh = `0;url=${import.meta.env.BASE_URL}/${i18next.language}`
---

<!doctype html>
<html lang={i18next.language}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/porfolio-dev/xoje-photo.jpg" />
		<meta name="generator" content={Astro.generator} />
		<!-- <meta http-equiv="refresh" content={metaRefresh} /> -->
		<title>{title}</title>
		<HeadHrefLangs />
	</head>
	<body class="relative text-black dark:text-white">
		<div
			class="absolute bottom-0 top-0 z-[-2] min-h-screen w-full bg-neutral-100 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(217,216,255,0.5),rgba(255,255,255,0.9))]
    dark:bg-neutral-950
    dark:bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"
		>
		</div>
		<Header />
		<slot />
		<Footer />
		<style is:global>
			:root {
				color-scheme: light dark;
				--font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
				--font-size-lg: clamp(1.2rem, 0.7vw + 1.2rem, 1.5rem);
				--font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.3rem);

				--color-text: hsl(10, 21%, 95%);
				--color-bg: hsl(12, 5%, 4%);
				--color-border: black;
			}

			html {
				font-family: 'Onest Variable', system-ui, sans-serif;
				scroll-behavior: smooth;
				font-size: var(--font-size-base);
			}
			html.dark {
				background-color: #0d0950;
				color: #fff;
			}

			.dark .nav-links a {
				color: #fff;
			}
			body {
				color: rgba(17, 17, 17, 0.9);
				display: flex;
				flex-direction: column;
				min-height: 100vh;
				overscroll-behavior: none;
			}

			@media (prefers-reduced-motion: reduce) {
				html {
					scroll-behavior: auto;
				}
			}

			@media (prefers-color-scheme: dark) {
				body {
					color: rgba(255, 255, 255, 0.9);
				}
			}
		</style>
	</body>
</html>
